<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<insert id="accountUser">


		INSERT INTO
		ACCOUNT_USER(USERID,USERPW,USERNAME)
		VALUES (#{userid},#{userpwd},
		#{username})


	</insert>
	<select id="userList" resultType="com.basic.user.vo.UserVo">
		SELECT * FROM ACCOUNT_USER
	</select>

	<delete id="deleteUser">
		DELETE FROM ACCOUNT_USER WHERE USERID LIKE #{userid}
	</delete>
	
	<update id="updateUser">
	UPDATE ACCOUNT_USER SET USERNAME = #{username},
	USERPW = #{userpwd} WHERE USERID LIKE #{userid}
	</update>


</mapper>